html,body{
    height: 100%;
    width: 100%;
}

.center{
    text-align: center;
}

.bg-color{
    background-color: aqua;
}

.mx-auto{
    margin: auto;
}



.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.button{
    padding: 20px;
    margin: 3px;
    border-radius: 6px;
    border: 2px solid black;
    cursor: pointer;
}

.row{margin: 8px 0;
}

.row input{
    margin: 0px;
    padding: 9px 30px;
    border-radius: 6px;
    font-size: 15px;
    /* width: 13vw; */
}
 .width{
    margin: 3px;
    border-radius: 6px;
    border: 2px solid black;
    cursor: pointer;

    padding: 20px;
    width: 121px;
}

body{
    background-color: rgb(107, 144, 160);}
/* .container{
    box-shadow: inset;
} */